<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>霓虹灯下社区- 好友 </title>
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <link rel="shortcut icon" href="/favicon.ico">
    <link href="/static/app/css/style.css" rel="stylesheet" type="text/css">
    <link href="/static/app/css/chat.css" rel="stylesheet" type="text/css">
    <script>
    !function(t,e){var o,n,p,r;e.__SV||(window.posthog=e,e._i=[],e.init=function(i,s,a){function g(t,e){var o=e.split(".");2==o.length&&(t=t[o[0]],e=o[1]),t[e]=function(){t.push([e].concat(Array.prototype.slice.call(arguments,0)))}}(p=t.createElement("script")).type="text/javascript",p.async=!0,p.src=s.api_host+"/static/array.js",(r=t.getElementsByTagName("script")[0]).parentNode.insertBefore(p,r);var u=e;for(void 0!==a?u=e[a]=[]:a="posthog",u.people=u.people||[],u.toString=function(t){var e="posthog";return"posthog"!==a&&(e+="."+a),t||(e+=" (stub)"),e},u.people.toString=function(){return u.toString(1)+".people (stub)"},o="capture identify alias people.set people.set_once set_config register register_once unregister opt_out_capturing has_opted_out_capturing opt_in_capturing reset isFeatureEnabled onFeatureFlags".split(" "),n=0;n<o.length;n++)g(u,o[n]);e._i.push([i,s,a])},e.__SV=1)}(document,window.posthog||[]);
    posthog.init('phc_YbILrRYZIl1t07oBWTdspsTkGUFCVebFGrvfMxtkdU4',{api_host:'https://app.posthog.com'})
</script>
</head>
<body>
    
    <section class="aui-flexView">
        <header class="aui-navBar aui-navBar-fixed">
            <a href="javascript:history.go(-1);" class="aui-navBar-item">
                <!-- <i class="icon">
                    <svg t="1620971982591" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2989" width="48" height="48"><path d="M384 512L731.733333 202.666667c17.066667-14.933333 19.2-42.666667 4.266667-59.733334-14.933333-17.066667-42.666667-19.2-59.733333-4.266666l-384 341.333333c-10.666667 8.533333-14.933333 19.2-14.933334 32s4.266667 23.466667 14.933334 32l384 341.333333c8.533333 6.4 19.2 10.666667 27.733333 10.666667 12.8 0 23.466667-4.266667 32-14.933333 14.933333-17.066667 14.933333-44.8-4.266667-59.733334L384 512z" p-id="2990" fill="#2c2c2c"></path></svg>
                </i> -->
            </a>
            <div class="aui-center">
                <span class="aui-center-title">好友</span>
            </div>
            <a href="javascript:;" class="aui-navBar-item">
                <i class="icon icon-sys">
                    <svg t="1621224519455" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2989" width="48" height="48"><path d="M853.333333 480H544V170.666667c0-17.066667-14.933333-32-32-32s-32 14.933333-32 32v309.333333H170.666667c-17.066667 0-32 14.933333-32 32s14.933333 32 32 32h309.333333V853.333333c0 17.066667 14.933333 32 32 32s32-14.933333 32-32V544H853.333333c17.066667 0 32-14.933333 32-32s-14.933333-32-32-32z" p-id="2990" fill="#ffffff"></path></svg>
                </i>
            </a>
        </header>
        <section class="aui-scrollView">
            <div>
                <div class="cl-tabpage-cont__wrap">
                    <div class="aui-news-list cl-tabpage-item">
                        <a href="javascript:;">
                            <div class="detail-comment detail-tab-comtent">
                                <div class="detail-tab-comtent-item active-content">
                                    <!-- <p class="null-comtent">暂无回复,<em>发回复</em></p> -->

                                    <object>
                                        <a href="chatroom.html">
                                            <div class="aui-flex fix-header-style b-line">
                                                <div class="topic-user-img">
                                                    <object>
                                                        <a href="chatroom.html">
                                                            <img src="images/pd-001.png" alt>
                                                        </a>
                                                    </object>
                                                </div>
                                                <div class="topic-user-box">
                                                    <h3>
                                                        <object>
                                                            <a href="chatroom.html">职业第三者</a>
                                                        </object>
                                                        <!-- <em style="float: right;padding-left: 1rem;">
                                                            <i class="icon icon-sys">
                                                                <svg t="1621302448006" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2989" width="48" height="48"><path d="M192 512m-64 0a64 64 0 1 0 128 0 64 64 0 1 0-128 0Z" p-id="2990" fill="#666666"></path><path d="M512 512m-64 0a64 64 0 1 0 128 0 64 64 0 1 0-128 0Z" p-id="2991" fill="#666666"></path><path d="M832 512m-64 0a64 64 0 1 0 128 0 64 64 0 1 0-128 0Z" p-id="2992" fill="#666666"></path></svg>
                                                            </i>
                                                        </em> -->
                                                        <em style="float: right;color: #666;font-size: 0.6rem;">14:24</em>
                                                    </h3>
                                                    <h4 style="padding-top: 0.1rem;">
                                                        <em>杨庄路是一条典型的通州街道.</em>
                                                    </h4>
                                                </div>
                                            </div>
                                            <!-- <div class="detail-comment-content">
                                                <p class="b-line">杨庄路是一条典型的通州街道，门脸窄小的SPA店.</p>
                                            </div> -->
                                        </a>
                                    </object>

                                    <object>
                                        <a href="chatroom.html">
                                            <div class="aui-flex fix-header-style b-line">
                                                <div class="topic-user-img">
                                                    <object>
                                                        <a href="chatroom.html">
                                                            <img src="images/pd-004.png" alt>
                                                        </a>
                                                    </object>
                                                </div>
                                                <div class="topic-user-box">
                                                    <h3>
                                                        <object>
                                                            <a href="chatroom.html">加个鸡腿</a>
                                                        </object>
                                                        <!-- <em style="float: right;padding-left: 1rem;">
                                                            <i class="icon icon-sys">
                                                                <svg t="1621302448006" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2989" width="48" height="48"><path d="M192 512m-64 0a64 64 0 1 0 128 0 64 64 0 1 0-128 0Z" p-id="2990" fill="#666666"></path><path d="M512 512m-64 0a64 64 0 1 0 128 0 64 64 0 1 0-128 0Z" p-id="2991" fill="#666666"></path><path d="M832 512m-64 0a64 64 0 1 0 128 0 64 64 0 1 0-128 0Z" p-id="2992" fill="#666666"></path></svg>
                                                            </i>
                                                        </em> -->
                                                        <em style="float: right;color: #666;font-size: 0.6rem;">13:35</em>
                                                    </h3>
                                                    <h4 style="padding-top: 0.1rem;">
                                                        <em>门脸窄小的SPA店.</em>
                                                    </h4>
                                                </div>
                                            </div>
                                            <!-- <div class="detail-comment-content">
                                                <p class="b-line">杨庄路是一条典型的通州街道，门脸窄小的SPA店.</p>
                                            </div> -->
                                        </a>
                                    </object>

                                    <object>
                                        <a href="chatroom.html">
                                            <div class="aui-flex fix-header-style b-line">
                                                <div class="topic-user-img">
                                                    <object>
                                                        <a href="chatroom.html">
                                                            <img src="images/pd-002.png" alt>
                                                        </a>
                                                    </object>
                                                </div>
                                                <div class="topic-user-box">
                                                    <h3>
                                                        <object>
                                                            <a href="chatroom.html">烟雨</a>
                                                        </object>
                                                        <!-- <em style="float: right;padding-left: 1rem;">
                                                            <i class="icon icon-sys">
                                                                <svg t="1621302448006" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2989" width="48" height="48"><path d="M192 512m-64 0a64 64 0 1 0 128 0 64 64 0 1 0-128 0Z" p-id="2990" fill="#666666"></path><path d="M512 512m-64 0a64 64 0 1 0 128 0 64 64 0 1 0-128 0Z" p-id="2991" fill="#666666"></path><path d="M832 512m-64 0a64 64 0 1 0 128 0 64 64 0 1 0-128 0Z" p-id="2992" fill="#666666"></path></svg>
                                                            </i>
                                                        </em> -->
                                                        <em style="float: right;color: #666;font-size: 0.6rem;">2月3日</em>
                                                    </h3>
                                                    <h4 style="padding-top: 0.1rem;">
                                                        <em>杨庄路是一条典型的通州街道，门脸窄小的SPA店.杨庄路是一条典型的通州街道，门脸窄小的SPA店.</em>
                                                    </h4>
                                                </div>
                                            </div>
                                            <!-- <div class="detail-comment-content">
                                                <p class="b-line">杨庄路是一条典型的通州街道，门脸窄小的SPA店.</p>
                                            </div> -->
                                        </a>
                                    </object>

                                    <object>
                                        <a href="chatroom.html">
                                            <div class="aui-flex fix-header-style b-line">
                                                <div class="topic-user-img">
                                                    <object>
                                                        <a href="chatroom.html">
                                                            <img src="images/pd-003.png" alt>
                                                        </a>
                                                    </object>
                                                </div>
                                                <div class="topic-user-box">
                                                    <h3>
                                                        <object>
                                                            <a href="chatroom.html">生活常识交流群</a>
                                                        </object>
                                                        <!-- <em style="float: right;padding-left: 1rem;">
                                                            <i class="icon icon-sys">
                                                                <svg t="1621302448006" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2989" width="48" height="48"><path d="M192 512m-64 0a64 64 0 1 0 128 0 64 64 0 1 0-128 0Z" p-id="2990" fill="#666666"></path><path d="M512 512m-64 0a64 64 0 1 0 128 0 64 64 0 1 0-128 0Z" p-id="2991" fill="#666666"></path><path d="M832 512m-64 0a64 64 0 1 0 128 0 64 64 0 1 0-128 0Z" p-id="2992" fill="#666666"></path></svg>
                                                            </i>
                                                        </em> -->
                                                        <em style="float: right;color: #666;font-size: 0.6rem;">2021年2月3日</em>
                                                    </h3>
                                                    <h4 style="padding-top: 0.1rem;">
                                                        <em>杨庄路是一条典型的通州街道，门脸窄小的SPA店.杨庄路是一条典型的通州街道，门脸窄小的SPA店.</em>
                                                    </h4>
                                                </div>
                                            </div>
                                            <!-- <div class="detail-comment-content">
                                                <p class="b-line">杨庄路是一条典型的通州街道，门脸窄小的SPA店.</p>
                                            </div> -->
                                        </a>
                                    </object>
                                </div>
                            </div>
                        </a>     
                    </div>
                    
                </div>
               
            </div>
        
        
        </section>

        <footer class="aui-footer aui-footer-fixed">
            <a href="/" class="aui-tabBar-item">
                <span class="aui-tabBar-item-icon">
                    <i class="icon icon-home"></i>
                </span>
                <span class="aui-tabBar-item-text">首页</span>
            </a>
            <a href="/community.html" class="aui-tabBar-item ">
                <span class="aui-tabBar-item-icon">
                    <i class="icon icon-ions"></i>
                </span>
                <span class="aui-tabBar-item-text">社区</span>
            </a>
            <a href="/chat.html" class="aui-tabBar-item aui-tabBar-item-active">
                <span class="aui-tabBar-item-icon">
                    <i class="icon icon-chat-active"></i>
                </span>
                <span class="aui-tabBar-item-text">聊天</span>
            </a>
            <a href="/user/653" class="aui-tabBar-item ">
                <span class="aui-tabBar-item-icon">
                    <i class="icon icon-car"></i>
                </span>
                <span class="aui-tabBar-item-text">我的</span>
            </a>
        </footer>
    </section>
</body>

<script type="text/javascript" src="/static/app/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/app/js/slider.js"></script>
<script type="text/javascript">

    $(function () {
        $('.detail-tab li').click(function(){
             indexC = $(this).index();
             console.log(indexC)
			$(this).addClass('active-title').siblings().removeClass('active-title');
			$('.detail-tab-comtent .detail-tab-comtent-item').eq(indexC).addClass('active-content').siblings().removeClass('active-content');
		})
    
    });
    </script>
</html>