<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>霓虹灯下社区-个人中心 </title>
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <link rel="shortcut icon" href="/favicon.ico">
    <link href="/static/app/css/style.css" rel="stylesheet" type="text/css">
    <link href="/static/app/css/user.css" rel="stylesheet" type="text/css">
    <script>
    !function(t,e){var o,n,p,r;e.__SV||(window.posthog=e,e._i=[],e.init=function(i,s,a){function g(t,e){var o=e.split(".");2==o.length&&(t=t[o[0]],e=o[1]),t[e]=function(){t.push([e].concat(Array.prototype.slice.call(arguments,0)))}}(p=t.createElement("script")).type="text/javascript",p.async=!0,p.src=s.api_host+"/static/array.js",(r=t.getElementsByTagName("script")[0]).parentNode.insertBefore(p,r);var u=e;for(void 0!==a?u=e[a]=[]:a="posthog",u.people=u.people||[],u.toString=function(t){var e="posthog";return"posthog"!==a&&(e+="."+a),t||(e+=" (stub)"),e},u.people.toString=function(){return u.toString(1)+".people (stub)"},o="capture identify alias people.set people.set_once set_config register register_once unregister opt_out_capturing has_opted_out_capturing opt_in_capturing reset isFeatureEnabled onFeatureFlags".split(" "),n=0;n<o.length;n++)g(u,o[n]);e._i.push([i,s,a])},e.__SV=1)}(document,window.posthog||[]);
    posthog.init('phc_YbILrRYZIl1t07oBWTdspsTkGUFCVebFGrvfMxtkdU4',{api_host:'https://app.posthog.com'})
</script>
</head>
<body>
    
    <section class="aui-flexView user-header" style="height: unset;">
        <div class="blur_bj">
            <img src="{{.HomeUser.Image}}" alt>
        </div>
        <div class="blur_bj_gray"></div>
        <!-- <header class="aui-navBar aui-navBar-fixed">
            <a href="javascript:history.go(-1);" class="aui-navBar-item">
                <i class="icon ">
                    <svg t="1620971982591" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2989" width="48" height="48"><path d="M384 512L731.733333 202.666667c17.066667-14.933333 19.2-42.666667 4.266667-59.733334-14.933333-17.066667-42.666667-19.2-59.733333-4.266666l-384 341.333333c-10.666667 8.533333-14.933333 19.2-14.933334 32s4.266667 23.466667 14.933334 32l384 341.333333c8.533333 6.4 19.2 10.666667 27.733333 10.666667 12.8 0 23.466667-4.266667 32-14.933333 14.933333-17.066667 14.933333-44.8-4.266667-59.733334L384 512z" p-id="2990" fill="#2c2c2c"></path></svg>
                </i>
            </a>
            <div class="aui-center">
                <span class="aui-center-title"></span>
            </div>
            <a href="javascript:;" class="aui-navBar-item">
                <i class="icon icon-sys"><svg t="1620965733846" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2989" width="48" height="48"><path d="M192 512m-64 0a64 64 0 1 0 128 0 64 64 0 1 0-128 0Z" p-id="2990"></path><path d="M512 512m-64 0a64 64 0 1 0 128 0 64 64 0 1 0-128 0Z" p-id="2991"></path><path d="M832 512m-64 0a64 64 0 1 0 128 0 64 64 0 1 0-128 0Z" p-id="2992"></path></svg></i>
            </a>
        </header> -->
        <div class="aui-news-list">
            <a href="#" class="aui-flex b-line fix-header-style">
                <div class="user-user-img">
                    <img src="{{.HomeUser.Image}}" alt>
                </div>
                <div class="user-user-box">
                    <h3>
                        {{.HomeUser.Username}}
                        <em><img class="sex" src="/static/app/images/man.png"></em>
                    </h3>
                    <h4>
                        <em>广东，广州</em>
                        <em>水瓶座</em>
                        <em>热恋中<img style="width: 0.7rem;display: inline-block;margin-left: 0.2rem;" src="/static/app/images/hot.png"></em>
                    </h4>
                </div>
                <div>
                    <object>
                        <a href="javascript:;">
                            <img style="width: 1.2rem;margin-right: 0.5rem;" src="/static/app/images/setting.png">
                        </a>
                    </object>
                </div>
            </a>
            <a href="#" class="aui-flex" style="color: #ffffff;padding-bottom: unset;">
                账号：<span>{{.HomeUser.Uid}}</span><em class="copy">
                    <input class="account-number-id" type="hidden" value="{{.HomeUser.Uid}}">
                    <img class="sex" src="/static/app/images/copy.png" style="margin-left: 0.5rem;">
                </em>
            </a>
            <a href="#" class="aui-flex">
                <div class="topic-aui-flex-box">
                    <p>成长到现在，在无数次的主动与被动的比较中，越来越认清了自己普普通通的事实，不是天才，生来并非富二代，大家想怎样度过自己短暂的一生呢？</p>
                    <h4>
                        <em><object><a>关注{{$.HomeUser.Focus}}</a></object></em>
                        <em class="topic-h4-point"></em>
                        <em><object><a>粉丝{{$.HomeUser.Fans}}</a></object></em>
                    </h4>
                </div>
            </a>

        </div>
    </section>
    <section class="aui-flexView">
        <section class="aui-scrollView">
            <div class="divHeight b-line"></div>

            <div>
                <div class="aui-flex b-line cl-tabpage-title">
                    <div class="tab cl-tabpage-item active-title">热门</div>
                    <div class="tab cl-tabpage-item">最新</div>
                </div>
                <div class="cl-tabpage-cont__wrap">
                    <div class="aui-news-list cl-tabpage-item active-content" style="display: none;">

                    </div>
                    <div class="aui-news-list cl-tabpage-item" style="display: none;">
                        
                    </div>
                </div>
               
            </div>
        </section>
        <footer class="aui-footer aui-footer-fixed">
            <a href="/" class="aui-tabBar-item aui-tabBar-item-active">
                <span class="aui-tabBar-item-icon">
                    <i class="icon icon-loan"></i>
                </span>
                <span class="aui-tabBar-item-text">首页</span>
            </a>
            
            <a href="/articles.html" class="aui-tabBar-item ">
                <span class="aui-tabBar-item-icon">
                    <i class="icon icon-credit"></i>
                </span>
                <span class="aui-tabBar-item-text">文章</span>
            </a>
            <a href="/bbs.html" class="aui-tabBar-item ">
                <span class="aui-tabBar-item-icon">
                    <i class="icon icon-ions"></i>
                </span>
                <span class="aui-tabBar-item-text">社区</span>
            </a>
            <a href="/user/653" class="aui-tabBar-item ">
                <span class="aui-tabBar-item-icon">
                    <i class="icon icon-car"></i>
                </span>
                <span class="aui-tabBar-item-text">我的</span>
            </a>
        </footer>
        <!-- <footer class="aui-footer aui-footer-fixed">
            <a href="/" class="aui-tabBar-item">
                <span class="aui-tabBar-item-icon">
                    <i class="icon icon-home"></i>
                </span>
                <span class="aui-tabBar-item-text">首页</span>
            </a>
            <a href="/community.html" class="aui-tabBar-item ">
                <span class="aui-tabBar-item-icon">
                    <i class="icon icon-ions"></i>
                </span>
                <span class="aui-tabBar-item-text">社区</span>
            </a>
            <a href="/chat.html" class="aui-tabBar-item">
                <span class="aui-tabBar-item-icon">
                    <i class="icon icon-credit"></i>
                </span>
                <span class="aui-tabBar-item-text">聊天</span>
            </a>
            <a href="/user/653" class="aui-tabBar-item aui-tabBar-item-active">
                <span class="aui-tabBar-item-icon">
                    <i class="icon icon-user"></i>
                </span>
                <span class="aui-tabBar-item-text">我的</span>
            </a>
        </footer> -->
    </section>
</body>

<script type="text/javascript" src="/static/app/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/app/js/slider.js"></script>
<script type="text/javascript">

    $(function () {
        $('.cl-tabpage-title .cl-tabpage-item').click(function(){
             indexC = $(this).index();
             console.log(indexC)
			$(this).addClass('active-title').siblings().removeClass('active-title');
			$('.cl-tabpage-cont__wrap .cl-tabpage-item').eq(indexC).addClass('active-content').siblings().removeClass('active-content');
        })
        

    $('.copy').click(function(){

        $(".account-number-id").select();
        try {
            var state = document.execCommand("copy");
        }catch(err){
            var state = false;
        }
        if(state){
            alert("复制成功")
        }else{
            alert("复制失败")
        }
        // var clipboard = new ClipboardJS('.account-number-id');
		// clipboard.on('success', function(e) {
		// 		alert('复制成功');
		// });
    })
    
    });
</script>
</html>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-NGY93CNPH2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-NGY93CNPH2');
</script>
<!-- <script data-ad-client="ca-pub-1340648321287998" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script> -->
<script>
    (function(){
    var el = document.createElement("script");
    el.src = "https://lf1-cdn-tos.bytegoofy.com/goofy/ttzz/push.js?85dce07b9bb9fd6b134a8975fe39b9194bb1dccc9718f2198da85b7cc9df25a765e0a2ada1d5e86b11e7de7c1a83287d04743a02fd1ee8dd8558a8cad50e91cb354f8c6f3f78e5fd97613c481f678e6d";
    el.id = "ttzz";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(el, s);
    })(window)
    </script>