<link rel="stylesheet" href="/static/baidu/css/hot.css">

<div class="container" data-v-082b228a="">
  <div class="uk-grid uk-grid-small" data-v-082b228a="">
      <div class="uk-width-1-1@s uk-width-1-2@m uk-width-1-3@l uk-first-column" data-v-082b228a="">
          <div class="hot-block" data-v-082b228a="">
              <div class="title" data-v-082b228a=""><img src="https://www.baidu.com/favicon.ico" data-v-082b228a="">
                  <div data-v-082b228a="">百度热点</div>
              </div>
              <div class="list" data-v-082b228a="">
                  <div class="row head" data-v-082b228a="">
                      <div class="num" data-v-082b228a=""></div>
                      <div class="keyword" data-v-082b228a="">热点</div>
                      <div class="value" data-v-082b228a="">热度</div>
                  </div>
                  {{range $key ,$value := $.Baiduhotnews}}
                  <div class="row" data-v-082b228a="">
                      <div class="num {{if eq $key 0}}red{{else if eq $key 1}}yellow{{else if eq $key 2}}blue{{end}}" data-v-082b228a="">
                        {{IndexForOne $key 1 1}}
                      </div> <a href="{{$value.Rurl}}" rel="nofollow noopener" target="_blank" class="keyword" data-v-082b228a="">{{$value.Title}}</a>
                      <div class="value" data-v-082b228a="">{{$value.HotDesc}}</div>
                  </div>
                  {{end}}
                  
              </div>
          </div>
      </div>
      <div class="uk-width-1-1@s uk-width-1-2@m uk-width-1-3@l" data-v-082b228a="">
          <div class="hot-block" data-v-082b228a="">
              <div class="title" data-v-082b228a=""><img src="https://weibo.com/favicon.ico" data-v-082b228a="">
                  <div data-v-082b228a="">微博热点</div>
              </div>
              <div class="list" data-v-082b228a="">
                  <div class="row head" data-v-082b228a="">
                      <div class="num" data-v-082b228a=""></div>
                      <div class="keyword" data-v-082b228a="">热点</div>
                      <div class="value" data-v-082b228a="">热度</div>
                  </div>
                  {{range $key ,$value := $.Weibohotnews}}
                  <div class="row" data-v-082b228a="">
                      <div class="num {{if eq $key 0}}red{{else if eq $key 1}}yellow{{else if eq $key 2}}blue{{end}}" data-v-082b228a="">
                        {{IndexForOne $key 1 1}}
                      </div> <a href="{{$value.Rurl}}" rel="nofollow noopener" target="_blank" class="keyword" data-v-082b228a="">{{$value.Title}}</a>
                      <div class="value" data-v-082b228a="">{{$value.HotDesc}}</div>
                  </div>
                  {{end}}
              </div>
          </div>
      </div>
      <div class="uk-width-1-1@s uk-width-1-2@m uk-width-1-3@l" data-v-082b228a="">
          <div class="hot-block" data-v-082b228a="">
              <div class="title" data-v-082b228a=""><img src="https://img.printf520.com/img/zhihu.ico" data-v-082b228a="">
                  <div data-v-082b228a="">知乎热榜</div>
              </div>
              <div class="list" data-v-082b228a="">
                  <div class="row head" data-v-082b228a="">
                      <div class="num" data-v-082b228a=""></div>
                      <div class="keyword" data-v-082b228a="">热点</div>
                      <div class="value" data-v-082b228a="">热度</div>
                  </div>
                  {{range $key ,$value := $.Zhihuhotnews}}
                  <div class="row" data-v-082b228a="">
                      <div class="num {{if eq $key 0}}red{{else if eq $key 1}}yellow{{else if eq $key 2}}blue{{end}}" data-v-082b228a="">
                        {{IndexForOne $key 1 1}}
                      </div> <a href="{{$value.Rurl}}" rel="nofollow noopener" target="_blank" class="keyword" data-v-082b228a="">{{$value.Title}}</a>
                      <div class="value" data-v-082b228a="">{{$value.HotDesc}}</div>
                  </div>
                  {{end}}
              </div>
          </div>
      </div>
      <div class="uk-width-1-1@s uk-width-1-2@m uk-width-1-3@l uk-grid-margin uk-first-column" data-v-082b228a="">
          <div class="hot-block" data-v-082b228a="">
              <div class="title" data-v-082b228a=""><img src="https://imgsrc.baidu.com/forum/pic/item/a6efce1b9d16fdfa6291460ab98f8c5495ee7b51.jpg" data-v-082b228a="">
                  <div data-v-082b228a="">百度贴吧</div>
              </div>
              <div class="list" data-v-082b228a="">
                  <div class="row head" data-v-082b228a="">
                      <div class="num" data-v-082b228a=""></div>
                      <div class="keyword" data-v-082b228a="">热点</div>
                      <div class="value" data-v-082b228a="">热度</div>
                  </div>
                  {{range $key ,$value := $.Tiebahotnews}}
                  <div class="row" data-v-082b228a="">
                      <div class="num {{if eq $key 0}}red{{else if eq $key 1}}yellow{{else if eq $key 2}}blue{{end}}" data-v-082b228a="">
                        {{IndexForOne $key 1 1}}
                      </div> <a href="{{$value.Rurl}}" rel="nofollow noopener" target="_blank" class="keyword" data-v-082b228a="">{{$value.Title}}</a>
                      <div class="value" data-v-082b228a="">{{$value.HotDesc}}</div>
                  </div>
                  {{end}}
              </div>
          </div>
      </div>
      <div class="uk-width-1-1@s uk-width-1-2@m uk-width-1-3@l uk-grid-margin" data-v-082b228a="">
          <div class="hot-block" data-v-082b228a="">
              <div class="title" data-v-082b228a=""><img src="https://www.bilibili.com/favicon.ico" data-v-082b228a="">
                  <div data-v-082b228a="">哔哩哔哩</div>
              </div>
              <div class="list" data-v-082b228a="">
                  <div class="row head" data-v-082b228a="">
                      <div class="num" data-v-082b228a=""></div>
                      <div class="keyword" data-v-082b228a="">热点</div>
                      <div class="value" data-v-082b228a="">热度</div>
                  </div>
                  {{range $key ,$value := $.Bilibilihotnews}}
                  <div class="row" data-v-082b228a="">
                      <div class="num {{if eq $key 0}}red{{else if eq $key 1}}yellow{{else if eq $key 2}}blue{{end}}" data-v-082b228a="">
                        {{IndexForOne $key 1 1}}
                      </div> <a href="{{$value.Rurl}}" rel="nofollow noopener" target="_blank" class="keyword" data-v-082b228a="">{{$value.Title}}</a>
                      <div class="value" data-v-082b228a="">{{$value.HotDesc}}</div>
                  </div>
                  {{end}}
              </div>
          </div>
      </div>
      <div class="uk-width-1-1@s uk-width-1-2@m uk-width-1-3@l uk-grid-margin" data-v-082b228a="">
          <div class="hot-block" data-v-082b228a="">
              <div class="title" data-v-082b228a=""><img src="https://img.printf520.com/img/148.png" data-v-082b228a="">
                  <div data-v-082b228a="">抖音热榜</div>
              </div>
              <div class="list" data-v-082b228a="">
                  <div class="row head" data-v-082b228a="">
                      <div class="num" data-v-082b228a=""></div>
                      <div class="keyword" data-v-082b228a="">热点</div>
                      <div class="value" data-v-082b228a="">热度</div>
                  </div>
                  {{range $key ,$value := $.Douyinhotnews}}
                  <div class="row" data-v-082b228a="">
                      <div class="num {{if eq $key 0}}red{{else if eq $key 1}}yellow{{else if eq $key 2}}blue{{end}}" data-v-082b228a="">
                        {{IndexForOne $key 1 1}}
                      </div> <a href="{{$value.Rurl}}" rel="nofollow noopener" target="_blank" class="keyword" data-v-082b228a="">{{$value.Title}}</a>
                      <div class="value" data-v-082b228a="">{{$value.HotDesc}}</div>
                  </div>
                  {{end}}
                  
              </div>
          </div>
      </div>
      <div class="uk-width-1-1@s uk-width-1-2@m uk-width-1-3@l uk-grid-margin uk-first-column" data-v-082b228a="">
          <div class="hot-block" data-v-082b228a="">
              <div class="title" data-v-082b228a=""><img src="https://img.printf520.com/img/148.png" data-v-082b228a="">
                  <div data-v-082b228a="">抖音热搜</div>
              </div>
              <div class="list" data-v-082b228a="">
                  <div class="row head" data-v-082b228a="">
                      <div class="num" data-v-082b228a=""></div>
                      <div class="keyword" data-v-082b228a="">热点</div>
                      <div class="value" data-v-082b228a="">热度</div>
                  </div>
                  {{range $key ,$value := $.Douyinrehotnews}}
                  <div class="row" data-v-082b228a="">
                      <div class="num {{if eq $key 0}}red{{else if eq $key 1}}yellow{{else if eq $key 2}}blue{{end}}" data-v-082b228a="">
                        {{IndexForOne $key 1 1}}
                      </div> <a href="{{$value.Rurl}}" rel="nofollow noopener" target="_blank" class="keyword" data-v-082b228a="">{{$value.Title}}</a>
                      <div class="value" data-v-082b228a="">{{$value.HotDesc}}</div>
                  </div>
                  {{end}}
              </div>
          </div>
      </div>
      <div class="uk-width-1-1@s uk-width-1-2@m uk-width-1-3@l uk-grid-margin" data-v-082b228a="">
          <div class="hot-block" data-v-082b228a="">
              <div class="title" data-v-082b228a=""><img src="http://img1.cache.netease.com/utf8/3g/newsapp/images/new-logo.png" data-v-082b228a="">
                  <div data-v-082b228a="">网易新闻</div>
              </div>
              <div class="list" data-v-082b228a="">
                  <div class="row head" data-v-082b228a="">
                      <div class="num" data-v-082b228a=""></div>
                      <div class="keyword" data-v-082b228a="">热点</div>
                      <div class="value" data-v-082b228a="">热度</div>
                  </div>
                  {{range $key ,$value := $.Wangyihotnews}}
                  <div class="row" data-v-082b228a="">
                      <div class="num {{if eq $key 0}}red{{else if eq $key 1}}yellow{{else if eq $key 2}}blue{{end}}" data-v-082b228a="">
                        {{IndexForOne $key 1 1}}
                      </div> <a href="{{$value.Rurl}}" rel="nofollow noopener" target="_blank" class="keyword" data-v-082b228a="">{{$value.Title}}</a>
                      <div class="value" data-v-082b228a="">{{$value.HotDesc}}</div>
                  </div>
                  {{end}}
              </div>
          </div>
      </div>
      <div class="uk-width-1-1@s uk-width-1-2@m uk-width-1-3@l uk-grid-margin" data-v-082b228a="">
          <div class="hot-block" data-v-082b228a="">
              <div class="title" data-v-082b228a=""><img src="https://www.douban.com/favicon.ico" data-v-082b228a="">
                  <div data-v-082b228a="">豆瓣话题</div>
              </div>
              <div class="list" data-v-082b228a="">
                  <div class="row head" data-v-082b228a="">
                      <div class="num" data-v-082b228a=""></div>
                      <div class="keyword" data-v-082b228a="">热点</div>
                      <div class="value" data-v-082b228a="">热度</div>
                  </div>
                  {{range $key ,$value := $.Doubanhotnews}}
                  <div class="row" data-v-082b228a="">
                      <div class="num {{if eq $key 0}}red{{else if eq $key 1}}yellow{{else if eq $key 2}}blue{{end}}" data-v-082b228a="">
                        {{IndexForOne $key 1 1}}
                      </div> <a href="{{$value.Rurl}}" rel="nofollow noopener" target="_blank" class="keyword" data-v-082b228a="">{{$value.Title}}</a>
                      <div class="value" data-v-082b228a="">{{$value.HotDesc}}</div>
                  </div>
                  {{end}}
              </div>
          </div>
      </div>
  </div>
</div>